body {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    background-color: #E7E7E7;;
}
.meimg {
    border-radius: 5%;
}

.header {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;

}

.section-header {
    text-align: center;
}

p {
    text-align: justify;
    text-justify: inter-word;
  }